.main{
    height: 300px;
    border: 2px solid black;
    overflow-y: scroll;
    /* column-count: 3; */
    column-gap: 5px;
    padding: 10px;
    column-fill: auto;
    column-rule: 2px dashed red;
    column-width: 250px;
}