.first{
    width: 100px;
    height: 100px;
    background-color: red;
    float: left;
    position: fixed;
    margin-top: 200px;
}

.second{
    width: 100px;
    height: 100px;
    background-color: green;
    float: left;
    /* position: absolute; */
    position: sticky;
    left: 50px;
    /* z-index: -1; */
    margin-top: 100px;
}

.third{
    color: red;
    position: absolute;
    margin-top: 100px;
}