* {
  margin: 0;
  padding: 0;
}


/* .affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container-fluid {
  padding-top: 70px;
} */

#navbarSupportedContent{
  text-align: center;
  justify-content: center;
}



.offer{
  justify-content: center;
  list-style: none;
  display: flex;
  align-content: center;
  gap: 70px;
  

}

.align{
  justify-content: center;
  display: flex;
  padding-right: 300px;
  background-color:floralwhite;
  
}


#top{
  margin-top: 30px;
  
}

#foot{
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}