.main
{
    height: 500px;
    width: 500px;
    position: relative;
    margin: auto;
    /* border: 2px solid red; */
}

.box{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 20px;
    box-shadow: 10px 10px 50px 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    animation-name: box;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes box {
    0%{
    top: 0px;
    left: 0px;
    }
    25%
    {
        top: 0px;
        left: 400px;
        background-color: blue;
    }
}
