.netflix-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 4rem;
    color: red;
    text-shadow: 0 0 5px black;
  }
  
  .netflix-logo span {
    display: inline-block;
    transform: rotateY(360deg);
    animation: rotate 2s infinite;
  }
  
  .netflix-logo .n {
    color: #e50914;
    margin-right: 0.5rem;
  }
  
  .netflix-logo .e {
    color: #f5f5f1;
  }
  
  .netflix-logo .t {
    color: #b81d24;
    margin-left: 0.5rem;
  }
  
  .netflix-logo .f {
    color: #221f1f;
  }
  
  .netflix-logo .l {
    color: #e50914;
  }
  
  .netflix-logo .i {
    color: #b81d24;
  }
  
  .netflix-logo .x {
    color: #f5f5f1;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(360deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
  