* {
  margin: 0;
  padding: 0;
}

/* for nav bar */

#logo {
  width: 50px;
  border-radius: 50px;
}

/* for all navbar buttons */
.btn {
  margin-left: 30px;
  margin-right: 15px;
  padding: 10px;
}

.btn1 {
  margin-left: 750px;
}
/* End of NavBar */

.first {
  width: 100vw;
  height: 100px;
  background-color: whitesmoke;
}

#first1 {
  position: absolute;
  margin-top: 5px;
  margin-left: 70px;
  font-size: 60px;
  color: rgb(0, 59, 154);
  font-weight: 700;
}

#first2 {
  position: absolute;
  margin-top: 25px;
  margin-left: 340px;
  font-size: 40px;
  color: rgb(255, 103, 1);
  font-weight: 400;
}

#first3 > a {
  position: absolute;
  margin-top: 25px;
  margin-left: 1600px;
  color: rgb(0, 59, 154);
  font-weight: 400;
}

#first3 > a > button {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
}

.second {
  width: 100vw;
  height: 200px;
  margin-top: 70px;
}

#second1 {
  margin-left: 50px;
  position: absolute;
  width: 900px;
  height: auto;
  word-spacing: 20px;
  letter-spacing: 5px;
}

.third {
  width: 100vw;
  height: 500px;
  font-family: monospace;
}

#third1 > img {
  position: absolute;
  margin: 10px;
  width: 700px;
  margin-left: 50px;
  border-radius: 50px;
}

#third2 {
  position: absolute;
  margin-top: 50px;
  margin-left: 1000px;
  width: 720px;
  height: auto;
}



.fourth{
    width: 100vw;
    height: 400px;
    margin-left: 200px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}


#fourth1{
    position: absolute;
    width: 400px;
    height: auto;
    display: flex;

}


#fourth1 > a > img{
    height: 250px;
    width: 400px;
    border-radius: 20px;
}

#fourth1 > a > p{
    padding-top: 20px;
    padding-left: 10px;
    word-spacing: 10px;
    font-size: 25px;
    font-weight: 700;
    color: black;
}







#fourth2{
    position: absolute;
    width: 400px;
    height: auto;
    display: flex;
    margin-left: 500px;
  
}


#fourth2 > a > img{
    height: 250px;
    width: 400px;
    border-radius: 20px;
}

#fourth2 > a > p{
    padding-top: 20px;
    padding-left: 10px;
    word-spacing: 10px;
    font-size: 25px;
    font-weight: 700;
    color: black;
}








#fourth3{
    position: absolute;
    width: 400px;
    height: auto;
    display: flex;
    margin-left: 1000px;
  
}


#fourth3 > a > img{
    height: 250px;
    width: 400px;
    border-radius: 20px;
}

#fourth3 > a > p{
    padding-top: 20px;
    padding-left: 10px;
    word-spacing: 10px;
    font-size: 25px;
    font-weight: 700;
    color: black;
}

















.fifth {
  width: 99vw;
  height: 50px;
  background-color: whitesmoke;
}

#fifth1 {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

#fifth2 {
  position: absolute;
  margin-top: 15px;
  margin-left: 1500px;
}

#fifth3 {
  position: absolute;
  margin-top: 15px;
  margin-left: 1550px;
}

#fifth4 {
  position: absolute;
  margin-top: 15px;
  margin-left: 1600px;
}

#fifth5 {
  position: absolute;
  margin-top: 15px;
  margin-left: 1650px;
}

#fifth6 {
  position: absolute;
  margin-top: 15px;
  margin-left: 1700px;
}

#fifth7 {
  position: absolute;
  margin-top: 15px;
  margin-left: 1750px;
}

#fifth8 {
  position: absolute;
  margin-top: 15px;
  margin-left: 1800px;
}

body {
  min-height: 100vh;
}

.stickyfooter {
  position: sticky;
  top: 100%;
}
